:root{
    --main-color: #ca3884; 
    --secondary-color: #111827;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}


#main-container{
    min-height: 100vh !important; 
 
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn{
    background-color: var(--main-color);
}

#item-box{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 320px;
}

input[type="checkbox"], label, .bi-trash{
    cursor: pointer;
}

.bi-trash:hover{
    color: var(--main-color); 
}

.row{
    display: flex;
    align-items: center;
    transition: .3s ease;
    animation: translate .5s;
}
.row:hover{
    transform: scale(1.05);
}
.checked{
    transform: scale(0.9);
    background-color:  rgb(231, 231, 231);
}

.bi-cart4{
    color: var(--main-color);
}

@keyframes appear {
    from{
        opacity: 0.5;
        transform: scale(0.5);
    }
    
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* 
@keyframes translate {
    from{
        opacity: 0.5;
        transform: translateX(100px);
    }
    
    to{
        opacity: 1;
        transform:translateX(0%);
    }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #main-container{
        
        min-height: 750px !important;
    }
 }
